      <h1 class="page-header">Extrato{% if user.is_staff%} do banco{%endif%}</h1>

      <h2 class="sub-header">Transações{% if user.is_staff%} do dia{%endif%}</h2>
      {% for transacao in extrato %}
      <div class="table-responsive">
        <table class="table table-striped">
          {% if forloop.first %}
          <thead>
            <tr>
              <th>Data</th>
              <th>Valor</th>
              <th>Tipo</th>
              <th>Saldo</th>
              {% if user.is_staff%}<th>Conta #</th>{% endif %}
            </tr>
          </thead>
          <tbody>
          {% endif %}
            <tr>
              <td>{{ transacao.data }}</td>
              <td>{{ transacao.valor }}</td>
              <td>{{ transacao.tipo_str }}</td>
              <td>{{ transacao.saldo }}</td>
              {% if user.is_staff%}<td>{{ transacao.numero_conta}}</td>{% endif %}
      {% empty %}
      <h4>Sem transações para exibir</h4>
      {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
