{% extends "index.html" %}
{% block customcss %}
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock %}

{% block conteudo %}
    <div class="container">

      <form class="form-signin" action="{% url 'signup' %}" method="post">
          {% if context.error %}
          <div class="alert alert-danger" role="alert">{{ context.error }}</div>
          {% endif %}
          {% csrf_token %}
        <h2 class="form-signin-heading">Crie sua conta</h2>
        <label for="inputEmail" class="sr-only">E-mail</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" name="senha" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Acesse</button>
        <a href="{% url 'index' %}" role="button">&laquo; Voltar</a>
      </form>

    </div> <!-- /container -->

{% endblock %}